.btns{
    background-color: red;
    color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: small;
    font-family: "Comic Sans MS", cursive;
    border: none;

}
.btns:hover{
    background-color: lightgreen;
}
.btnj{
    background-color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: small;
   color: blue;
    border:blue solid;
    border-radius: 3px;
}
.btnt{
    background-color: #3d9ae6;
    color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: #3d9ae6 solid;
}
